<!-- 
Student Name: Andre Henrique Moyses de Assis
Student number: 301282773
Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Mid-Term Test
File: footer.ejs
Date: 2023-06-23
-->


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2023 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
