/* 
Student Name: Andre Henrique Moyses de Assis
Student number: 301282773
Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Mid-Term Test
File: app.css
Date: 2023-06-23
*/

/* Custom CSS goes here */
body {
  background-color: rgb(251, 245, 238);
  padding-bottom: 70px;
}
