<!-- 
Student Name: Andre Henrique Moyses de Assis
Student number: 301282773
Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Mid-Term Test
File: 404.ejs
Date: 2023-06-23
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>Sorry, the page you are looking for is not found :(</p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


